# Lab | Pandas

In this lab, we will be working with the customer data from an insurance company, which can be found in the CSV file located at the following link: https://raw.githubusercontent.com/data-bootcamp-v4/data/main/file1.csv

The data includes information such as customer ID, state, gender, education, income, and other variables that can be used to perform various analyses.

Throughout the lab, we will be using the pandas library in Python to manipulate and analyze the data. Pandas is a powerful library that provides various data manipulation and analysis tools, including the ability to load and manipulate data from a variety of sources, including CSV files.

External Resources: https://towardsdatascience.com/filtering-data-frames-in-pandas-b570b1f834b9

## Challenge 1: Understanding the data

In this challenge, you will use pandas to explore a given dataset. Your task is to gain a deep understanding of the data by analyzing its characteristics, dimensions, and statistical properties.

- Identify the dimensions of the dataset by determining the number of rows and columns it contains.
- Determine the data types of each column and evaluate whether they are appropriate for the nature of the variable. You should also provide suggestions for fixing any incorrect data types.
- Identify the number of unique values for each column and determine which columns appear to be categorical. You should also describe the unique values of each categorical column and the range of values for numerical columns, and give your insights.
- Compute summary statistics such as mean, median, mode, standard deviation, and quartiles to understand the central tendency and distribution of the data for numerical columns. You should also provide your conclusions based on these summary statistics.
- Compute summary statistics for categorical columns and providing your conclusions based on these statistics.

- #### <font color='CornflowerBlue'>  Loading the dataset into a DataFrame:</font>

In [1]:
# source = "https://raw.githubusercontent.com/data-bootcamp-v4/data/main/file1.csv"

source = "file1.csv"

import pandas as pd
import numpy as np

df = pd.read_csv(source)

- #### <font color='CornflowerBlue'>Identify the dimensions of the dataset by determining the number of rows and columns it contains: </font>

In [2]:
df.shape

(4008, 11)

- #### <font color='CornflowerBlue'>- Determine the data types of each column and evaluate whether they are appropriate for the nature of the variable. You should also provide suggestions for fixing any incorrect data types.: </font>

<ins><strong>Displaying the first rows : </strong></ins>

In [3]:
df.head(3)

,Customer,ST,GENDER,Education,Customer Lifetime Value,Income,Monthly Premium Auto,Number of Open Complaints,Policy Type,Vehicle Class,Total Claim Amount
0,RB50392,Washington,NaN,Master,NaN,0.0,1000.0,1/0/00,Personal Auto,Four-Door Car,2.704934
1,QZ44356,Arizona,F,Bachelor,697953.59%,0.0,94.0,1/0/00,Personal Auto,Four-Door Car,1131.464935
2,AI49188,Nevada,F,Bachelor,1288743.17%,48767.0,108.0,1/0/00,Personal Auto,Two-Door Car,566.472247

<ins><strong>Displaying culumns type : </strong></ins>

In [4]:
df.dtypes

Customer                      object
ST                            object
GENDER                        object
Education                     object
Customer Lifetime Value       object
Income                       float64
Monthly Premium Auto         float64
Number of Open Complaints     object
Policy Type                   object
Vehicle Class                 object
Total Claim Amount           float64
dtype: object

<ins><strong><font color='BlueViolet'>Numerical</font></strong> **variables specifications**:</ins>

From the data types output it is safe to assume that the following columns are numerical variables: 
- **Income**: <em><font color='DarkMagenta'> float64</font></em>
- **Monthly Premium Auto**: <em><font color='DarkMagenta'> float64</font></em>
- **Total Claim Amount**: <em><font color='DarkMagenta'> float64</font></em>

However, all remaining columns shouldn't be necessary considered as categorical variables.
Indeed, based on the name of the following columns and their values, these are numerical variables in nature:

- **Customer Lifetime Value**:<font color='red'> should be</font> <em><font color='DarkMagenta'>float64</font></em>
- **Number of Open Complaints**:<font color='red'> should be</font><em><font color='DarkMagenta'> int</font></em>



Additionally, here are the following actions that can be suggested to "fix" some of the data discrepancies:
- Remove the percentage sign in column "Customer Lifetime Value".
- Transform the "slash" separated values in column "Number of Open Complaints" into proper integers. 
- Round up to only 2 decimals the column "Total Claim Amount"
- Deal with missing values such as within "Customer Lifetime Value" or "GENDER" for instance
- Address outliers such as values like 35354.0 in "Monthly Premium Auto"

In [5]:
#  Continuous variables: 
cont_var = ["Income",
            "Monthly Premium Auto",
            "Total Claim Amount"]

# Discrete variables:
disc_var = ["Number of Open Complaints"] 

# All numerical variables:
num_var = disc_var + cont_var

- #### <font color='CornflowerBlue'>Identify the number of unique values for each column and determine which columns appear to be categorical. You should also describe the unique values of each categorical column and the range of values for numerical columns, and give your insights.: </font>

<ins><strong>Displaying number of unique values for each column : </strong></ins>

In [6]:
df.nunique()

Customer                     1071
ST                              8
GENDER                          5
Education                       6
Customer Lifetime Value      1027
Income                        774
Monthly Premium Auto          132
Number of Open Complaints       6
Policy Type                     3
Vehicle Class                   6
Total Claim Amount            761
dtype: int64

<ins><strong><font color='BlueViolet'>Categorical</font></strong> **variables specifications**:</ins>

From the data types output it is safe to assume that the following columns are categorical variables: 
- **Customer:**<em><font color='DarkMagenta'> Nominal</font></em>.There is no obvious order for that variable.
- **ST:**<em><font color='DarkMagenta'> Nominal</font></em>.There is no obvious order for that variable.
- **GENDER:**<em><font color='DarkMagenta'> Nominal</font></em>.There is no obvious order for that variable.
- **Education:**<em><font color='DarkMagenta'> Ordinal</font></em>.We can order the level of education, for example by ascending order.
- **Policy Type**<em><font color='DarkMagenta'> Nominal</font></em>.There is no obvious order for that variable.
- **Vehicle Class**<em><font color='DarkMagenta'> Nominal</font></em>.There might be an order for that variable, but it is no that obvious.

In [7]:
# Categorical variables:
cat_var = ["Customer",
           "ST",
           "GENDER",
           "Education",
           "Policy Type",
           "Vehicle Class"]

<ins><strong> Displaying unique values of each categorical column</strong></ins>

In [8]:
[ print(j,":",df[j].unique()) for j in cat_var ]

Customer : ['RB50392' 'QZ44356' 'AI49188' ... 'CW49887' 'MY31220' nan]
ST : ['Washington' 'Arizona' 'Nevada' 'California' 'Oregon' 'Cali' 'AZ' 'WA'
 nan]
GENDER : [nan 'F' 'M' 'Femal' 'Male' 'female']
Education : ['Master' 'Bachelor' 'High School or Below' 'College' 'Bachelors' 'Doctor'
 nan]
Policy Type : ['Personal Auto' 'Corporate Auto' 'Special Auto' nan]
Vehicle Class : ['Four-Door Car' 'Two-Door Car' 'SUV' 'Luxury SUV' 'Sports Car'
 'Luxury Car' nan]

[None, None, None, None, None, None]

<ins><strong>Displaying stats for numerical variables : </strong></ins>

In [9]:
df[cont_var].describe()

             Income  Monthly Premium Auto  Total Claim Amount
count   1071.000000           1071.000000         1071.000000
mean   39295.701214            193.234360          404.986909
std    30469.427060           1601.190369          293.027260
min        0.000000             61.000000            0.382107
25%    14072.000000             68.000000          202.157702
50%    36234.000000             83.000000          354.729129
75%    64631.000000            109.500000          532.800000
max    99960.000000          35354.000000         2893.239678

<ins><strong>Displaying range for numerical variables : </strong></ins>

In [10]:
df[cont_var].max() - df[cont_var].min()

Income                  99960.000000
Monthly Premium Auto    35293.000000
Total Claim Amount       2892.857571
dtype: float64

<ins><strong>Observations : </strong></ins>

As shown by their range which is close to their max, the spread of values is wide for the 3 following numerical variables: 

- <em><strong>Income</strong></em>
- <em><strong>Monthly Premium Auto</strong></em>
- <em><strong>Total Claim Amount</strong></em>

Max and Min values are also far away from central tendency measures such as the mean.

This indicates that these numerical variables contains outliers that will need to be addressed.

## Challenge 2: analyzing the data

### Exercise 1

The marketing team wants to know the top 5 less common customer locations. Create a pandas Series object that contains the customer locations and their frequencies, and then retrieve the top 5 less common locations in ascending order.

In [11]:
pd.Series(df['ST']).value_counts().sort_values()[:5]

AZ             25
WA             30
Washington     81
Nevada         98
Cali          120
Name: ST, dtype: int64

### Exercise 2

The sales team wants to know the total number of policies sold for each type of policy. Create a pandas Series object that contains the policy types and their total number of policies sold, and then retrieve the policy type with the highest number of policies sold.

*Hint:*
- *Using value_counts() method simplifies this analysis.*
- *Futhermore, there is a method that returns the index of the maximum value in a column or row.*

In [12]:
pd.Series(df['Policy Type']).value_counts().max()

780

### Exercise 3

The sales team wants to know if customers with Personal Auto have a lower income than those with Corporate Auto. How does the average income compare between the two policy types?

- Use *loc* to create two dataframes: one containing only Personal Auto policies and one containing only Corporate Auto policies.
- Calculate the average income for each policy.
- Print the results.

In [13]:
print("The average income for Personal Auto is : ", df.loc[df['Policy Type'] == 'Personal Auto']['Income'].mean())
print("The average income for Corporate Auto is : ", df.loc[df['Policy Type'] == 'Corporate Auto']['Income'].mean())

The average income for Personal Auto is :  38180.69871794872
The average income for Corporate Auto is :  41390.31196581197

### Bonus: Exercise 4

Your goal is to identify customers with a high policy claim amount.

Instructions:

- Review again the statistics for total claim amount to gain an understanding of the data.
- To identify potential areas for improving customer retention and profitability, we want to focus on customers with a high policy claim amount. Consider customers with a high policy claim amount to be those in the top 25% of the total claim amount. Create a pandas DataFrame object that contains information about customers with a policy claim amount greater than the 75th percentile.
- Use DataFrame methods to calculate summary statistics about the high policy claim amount data.

*Note: When analyzing data, we often want to focus on certain groups of values to gain insights. Percentiles are a useful tool to help us define these groups. A percentile is a measure that tells us what percentage of values in a dataset are below a certain value. For example, the 75th percentile represents the value below which 75% of the data falls. Similarly, the 25th percentile represents the value below which 25% of the data falls. When we talk about the top 25%, we are referring to the values that fall above the 75th percentile, which represent the top quarter of the data. On the other hand, when we talk about the bottom 25%, we are referring to the values that fall below the 25th percentile, which represent the bottom quarter of the data. By focusing on these groups, we can identify patterns and trends that may be useful for making decisions and taking action.*

*Hint: look for a method that gives you the percentile or quantile 0.75 and 0.25 for a Pandas Series.*

*Hint 2: check `Boolean selection according to the values of a single column` in https://towardsdatascience.com/filtering-data-frames-in-pandas-b570b1f834b9*

In [ ]:
# Your code here